mixin block(title, tabs)
    div(class=['block'].concat(attributes.classes))
        .block_head
            .bheadl
            .bheadr
            h2= title
            if tabs
                ul.tabs
                    - each t in tabs
                        li: a(href="", ng-click="#{t[0]}") #{t[1]}
        .block_content
            block
        .bendl
        .bendr

mixin blockWithSideBar(title, tabs)
    div(class="block withsidebar")
        .block_head
            .bheadl
            .bheadr
            h2= title
            if tabs
                ul.tabs
                    - each t in tabs
                        li: a(href="", ng-click="#{t[0]}") #{t[1]}
        .block_content
            .sidebar
                ul.sidemenu
                    li(ng-repeat="m in items | orderBy:'name'", ng-class="{active: selected===m}")
                        a(href="", ng-click="select(m)") {{m.name}}
            .sidebar_content
                block
        .bendl
        .bendr

mixin blockWithSearch(title)
    div(class=['block'].concat(attributes.classes))
        .block_head
            .bheadl
            .bheadr
            h2= title
            form(ng-submit="submit()"): input.text(type="text", value="Search", ng-model="query", style="box-sizing: content-box")
        .block_content
            block
        .bendl
        .bendr
