include ../mixins/block

mixin uploadBox(title, func, tag)
    pre(ng-file-drop="#{func}($files, '#{tag}')"): form
        h4= title
        input(type="file", value="上传", ng-file-select="#{func}($files, '#{tag}')")
        | 或将文件拖拽至此

+block("导入数据")
    div(class="message errormsg", ng-show="error")
        p {{error}}
    div(class="message success", ng-show="info")
        p {{info}}
    +uploadBox("武将数据:", "upload", "heroDef")
    hr
    +uploadBox("道具数据:", "upload", "itemDef")
    hr
    +uploadBox("奖励数据:", "upload", "treasure")
    hr
    +uploadBox("关卡数据:", "upload", "stage")
    hr
    +uploadBox("弹道数据:", "upload", "ballistic")
    hr
    +uploadBox("任务数据:", "upload", "task")
